<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="style.css">
    <title>Form</title>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center" style="margin-top: 15%;">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <div class="alert alert-success" role="alert" style="text-align: center;">
                    Registered Sucessfully!
                </div>
                <b>Name : </b> {{ user_details[0] }} <br>
                <b>Email ID : </b> {{ user_details[1] }} <br>
                <b>Gender : </b> {{ user_details[2] }}
            </div>
        </div>
    </div>
</body>

</html>