<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="style.css">
    <title>Home</title>
</head>
<style>
  ul{
    font: 400px
  }
</style>
  <h1 style="font-family: calibri;font: 70px">
    CREDENTIALS
  </h1>
<body style="font-family: Arial;font: 40px">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
      <!-- <a class="navbar-brand" href="./index">Book Reviews</a> -->
      <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" 
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <!-- <li class="nav-item active">
            <a class="nav-link" href="./">Home<span class="sr-only">(current)</span></a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" href="./register">Sign Up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="./login">Login</a>
          </li>
      </div>
    </nav>
  </body>
</html>