<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
    <title>Register</title>

    <style>
        input {
            width: 100%;
            padding-left: 10px;
            font-size: medium;
        }

        label {
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            font-size: large;
        }
    </style>
</head>
<body style="background-color: #FA8072;">
    <div class="container">
        <div class="row justify-content-center" style="margin-top: 4%;">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <h2 style="text-align: center;"> Sign Up </h1>
                    <form action="/profile" class="registrationForm" method="POST">
                        <div>
                            <label for="name">Name</label><br>
                            <input type="text" name="name" placeholder="Name" maxlength="25" required><br>
                        </div>
                        <div>
                            <label for="email">Email Address</label><br>
                            <input type="email" name="emailID" placeholder="Email" maxlength="50" required><br>
                        </div>
                        <div>
                            <label for="pwd">Password</label><br>
                            <input type="password" name="pwd" placeholder="Password"
                                pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*\W)(?!.*\s).{8,16}$"
                                title="Password length should be in between 8 and 16 and it should include atleast one lowercase letter, one upper case letter, one digit and a special character"
                                required><br>
                        </div>
                        <div>
                            <label for="conformPassword">Confirm Password</label><br>
                            <input type="password" id="ucpwd" name="cpwd" placeholder="Password"
                                pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*\W)(?!.*\s).{8,16}$"
                                title="Password length should be in between 8 and 16 and it should include atleast one lowercase letter, one upper case letter, one digit and a special character"
                                required><br>
                        </div>
                        <label for="gen">Gender</label><br>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" id="male" name="gender">
                            <label class="custom-control-label" for="male">Male</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" class="custom-control-input" id="female" name="gender">
                            <label class="custom-control-label" for="female">Female</label>
                        </div>
                        <div style="padding-top: 10px;">
                            <button type="submit" class="btn btn-primary" style="width: 150px;">Sign Up</button>
                        </div>
                    </form>
            </div>
        </div>
    </div>
</body>

</html>